* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image:url('https://img.freepik.com/free-photo/green-park-view_1417-1494.jpg?t=st=1745487933~exp=1745491533~hmac=1829f4dfd4c7738f1bf578dca3b162ff0a4d9942ded621e3cf3ddc01be6eccb8&w=1380');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  animation: fadeIn 1.5s ease-in-out;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  color: #e14d2e; 
  background-image: linear-gradient(45deg, #e14d2e , #f8a642 25%, #b4d05c 50%, #d2f1e1 75%, #58c5d8 100%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(42, 41, 41);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(109, 107, 107);
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  background: rgba(109, 105, 105, 0.3);
  box-shadow: 0 0 10px rgba(227, 108, 248, 0.5);
}

.radio-group label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;  
}

input[type="checkbox"] {
  margin-right: 5px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background: #8c518d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background: #6a11cb;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}